@{
    ViewBag.Title = "Bordados";
}
@section calStyles{

    <link href="~/Content/css/Fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/css/Fullcalendar-print.css" rel="stylesheet" media="print" />

}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Pedidos a Bordados</h2>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="default-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                           aria-selected="true">
                                            <i class="fa fa-address-book"></i> | Agenda de pedidos
                                        </a>
                                        <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                           aria-selected="false">
                                            <i class="fa fa-plus"></i> | Agregar
                                        </a>
                                    </div>
                                </nav>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        @Html.Partial("../Components/DataTables/_BordadoDataTable")
                                    </div>
                                    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                        <div class="row">
                                            @Html.Partial("../Components/FormViews/_PedidosBordado")
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Partial("../Components/_Footer")
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Moment.js"></script>
    <script src="~/Scripts/Fullcalendar.min.js"></script>
    <script src="~/Scripts/Fullcalendar.es.js"></script>

    <script>
        $('#BordadoCalendar').fullCalendar({
            // put your options and callbacks here
        })

    </script>
}