<div class="col-md-12">
    <div class="copyright">
        <p hidden>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        <p>Copyright © 2019 ACONSA S.A. de C.V.</p>
    </div>
</div>
