<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Content/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Mi panel
                    </a>
                </li>
                <li>
                    <a href="~/Content/chart.html">
                        <i class="fas fa-chart-bar"></i>Clientes
                    </a>
                </li>
                <li>
                    <a href="~/Content/table.html">
                        <i class="fas fa-table"></i>Pedidos
                    </a>
                </li>
                <li>
                    <a href="~/Content/form.html">
                        <i class="far fa-check-square"></i>Ventas
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-calendar-alt"></i>Estadísticas
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>