<div class="col-md-12">
    <!-- DATA TABLE -->
    <hr />
    <div class="table-responsive table-responsive-data2 m-b-30">
        <table class="table table-data2">
            <thead border="1">
                <tr>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th></th>
                    <th>Fecha de creación</th>
                    <th>Fecha de Entrega</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td>####-#</td>
                    <td colspan="2">
                        Nombre del Cliente
                    </td>
                    <td>##/##/####</td>
                    <td>##/##/####</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="item">
                                <i class="zmdi zmdi-mail-send"></i>
                            </button>
                            <button class="item" data-toggle="modal" data-target="#editPedido">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END DATA TABLE -->
</div>

