<div class="col-md-12">
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--dark rs-select2--md">
                <select class="js-select2" name="property">
                    <option selected="selected">Mostrar todos</option>
                    <option value="">Pendientes</option>
                    <option value="">Atrasados</option>
                    <option value="">Cancelados</option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>

        </div>
    </div>
    <!-- DATA TABLE -->
    <table class="table">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Entrega</th>
                <th scope="col" colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <th scope="row">10512</th>
                <td>José </td>
                <td>15/02/2019</td>
                <td><i class="fa fa-list-alt"></i></td>
                <td><i class="fa fa-edit"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td>
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#exportPedido">
                        <i class="zmdi zmdi-plus"></i> Exportar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END DATA TABLE -->
</div>


