<div class="col-md-12">
    <!-- DATA TABLE -->
    <hr />
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Entrega</th>
                <th scope="col">Diseño</th>
                <th scope="col" colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-warning">
                <th scope="row">10512</th>
                <td>José </td>
                <td>15/02/2019</td>
                <td>
                    <img src="#" width="100" alt="Img" />
                </td>
                <td><i class="fa fa-th-list"></i></td>
                <td><i class="fa fa-edit"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Facturar como
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Consumidor Final</a>
                            <a class="dropdown-item" href="#">Crédito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Remisión</a>
                            <a class="dropdown-item" href="#">Nota de Débito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Crédito Fiscal</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="table-danger">
                <th scope="row">10512</th>
                <td>José </td>
                <td>15/02/2019</td>
                <td>
                    <img src="#" width="100" alt="Img" />
                </td>
                <td><i class="fa fa-th-list"></i></td>
                <td><i class="fa fa-edit"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Facturar como
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Consumidor Final</a>
                            <a class="dropdown-item" href="#">Crédito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Remisión</a>
                            <a class="dropdown-item" href="#">Nota de Débito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Crédito Fiscal</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="table-default">
                <th scope="row">10512</th>
                <td>José </td>
                <td>15/02/2019</td>
                <td>
                    <img src="#" width="100" alt="Img" />
                </td>
                <td><i class="fa fa-th-list"></i></td>
                <td><i class="fa fa-edit"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Facturar como
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Consumidor Final</a>
                            <a class="dropdown-item" href="#">Crédito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Remisión</a>
                            <a class="dropdown-item" href="#">Nota de Débito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Crédito Fiscal</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="table-success">
                <th scope="row">10512</th>
                <td>José </td>
                <td>15/02/2019</td>
                <td>
                    <img src="#" width="100" alt="Img" />
                </td>
                <td><i class="fa fa-th-list"></i></td>
                <td><i class="fa fa-edit"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Facturar como
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Consumidor Final</a>
                            <a class="dropdown-item" href="#">Crédito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Remisión</a>
                            <a class="dropdown-item" href="#">Nota de Débito Fiscal</a>
                            <a class="dropdown-item" href="#">Nota de Crédito Fiscal</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END DATA TABLE -->
</div>


