<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            Pedidos a <strong>Bordado</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Código: </label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Cliente: </label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="">####-# | Fulano de Tal</option>
                            <option value="">####-# | Fulano de Tal</option>
                            <option value="">####-# | Fulano de Tal</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Fecha de entrega: </label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="date" name="" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Vendedor: </label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="" placeholder="" class="form-control">
                    </div>
                </div>

            </form>
        </div>
        <div class="card-header">
            <strong>Detalles</strong> del pedido
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Cantidad: </label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" name="" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class="form-control-label">Ítem</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="">####-# | Fulano de Tal</option>
                            <option value="">####-# | Fulano de Tal</option>
                            <option value="">####-# | Fulano de Tal</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> Agregar y nuevo
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-eraser"></i> Borrar
            </button>
        </div>
    </div>
</div>